version: "3.9"

services:
  stlatica_db:
    image: mysql:8.0.34
    env_file:
      ./.env.local.docker
    ports:
      - "4000:3306"
    volumes:
      - ./db/mysql/my.cnf:/etc/mysql/conf.d/my.cnf
  stlatica_server:
    environment:
      - GO_ENV=local.docker
    build:
      context: .
      dockerfile: Docker/Dockerfile_air
    ports:
      - "8080:8080"
    volumes:
      - ./:/app
    command: sh -c 'air -c .air.toml --build.cmd "go build -o ./tmp/main $SOURCE_DIR"'
  redocly:
    build:
      context: .
      dockerfile: ./docker/Dockerfile_redocly
    volumes:
      - ../shared/openapi:/openapi
